/*
font-family: 'Lilita One', cursive;
font-family: 'Josefin Sans', sans-serif;
*/
#features {
  background-color: white;
  padding: 0 12%;
  position: relative;
  z-index: 1;
  height: max-content;
}

#testimonials,#cta, #title {
  background-color: #F24987;
}

#footer, #pricing, #testimonials,#cta {
  text-align: center;
}

#pricing {
  padding-top: 100px;
  padding-bottom: 50px;
  height: max-content;
}

#cta {
  padding: 7% 15%;
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
}

h1, h2, p, #title {
  color: #F2D5E8;
}

h1, h3 {
  font-family: 'Lilita One', cursive;
}

h3 {
  font-size: 1.5rem;

}
h3,.pricing-title{
  color:#F24987;

}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
  padding: 2% 15% 7%;
}

.siteTitle {
  font-size: 1.7rem;
}

.menuItems {
  font-size: 1.2rem;
  padding-right: 2.5rem;
}

.topRow {
  margin-top: 5rem;
}

.iphonePhoto {
  transform: rotate(25deg);
  width: 17em;
  position: absolute;
  right: 30%;
}

.carousel-item {
  padding: 7% 15%;
}

.card-deck {
  position: relative;
  left: 20%;
}

.pricing-column {
  padding: 3% 2%;
}

.features-container {
  margin-top: 4rem;
}
.features-paragraph{
  color:#8C0327;
}

.media-icons {
  padding: 0.6rem;
}

@media (max-width: 991px) {
  .iphonePhoto {
    transform: rotate(0deg);
    width: 20em;
    padding: 2rem;
    position: relative;
    right: 0%;
  }

  .topRow {
    margin-top: 0;
  }
}
